.App {
  text-align: center;
  
}

body {
  /* background-image: url("https://media2.s-nbcnews.com/i/MSNBC/Components/Video/Projects/_originals/Careers/p_nww_slasher_101812.jpg"); */
  background-color: powderblue ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-page {
  text-align: center;
  /* background-color: cornflowerblue; */
}

.signup {
  text-align: center;
}

.header {
  text-align: center;
}

.profile {
  /* height: 400px; */
  position: relative;
  border: springgreen;
  border-style: solid;
  border-spacing: 3px;
  background-color: violet;
  box-shadow: purple;
  min-height: 450px;
  max-width: 600px;
  align-items: center;
  align-content: center;
}

.profile img {
  height: 200px;
}

.profile button {
  margin-bottom: 10px;
  /* position: relative;
  align-self: relative;
  float: center; */
}
